# This workflow will build a .NET project
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-net

name: NumberWordAnalyzer

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Setup .NET
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: 8.0.x
    - name: Restore dependencies
      run: dotnet restore NumberWordAnalyzer/NumberWordAnalyzer.csproj
    - name: Build
      run: dotnet build --no-restore NumberWordAnalyzer/NumberWordAnalyzer.csproj
    - name: Test
      run: dotnet test NumberWordAnalyzer.Tests/NumberWordAnalyzer.Tests.csproj --no-build --configuration Release --collect:"XPlat Code Coverage"
    - name: Install ReportGenerator
      run: dotnet tool install -g dotnet-reportgenerator-globaltool

    - name: Generate coverage report
      run: reportgenerator "-reports:**/coverage.cobertura.xml" "-targetdir:coverage-report" -reporttypes:Html

    - name: Upload coverage report artifact
      uses: actions/upload-artifact@v3
      with:
        name: coverage-report
        path: coverage-report/